<div class="discussiontable">
  <p class="topicbold"><これまでの議論一覧></p>
  <a class="newdiscussion" href="/discussion/new">新規投稿</a>
   <table>
     <tr>
       <th>No.</th>
       <th width="60">日付</th>
       <th width="100">題材</th>
       <th width="60">投稿者</th>
       <th width="300">内容（日本語）</th>
       <th width="300">要約（韓国語）</th>
       <th>削除</th>
       <th>編集</th>
     </tr>

  <% @discussions.each do |discussion| %>
     <tr>
       <td><%= discussion.id %></td>
       <td><%= discussion.date %></td>
       <td><%= discussion.title %></td>
       <td class="jpnkor"><%= discussion.user.name %></td>
       <td><%= discussion.sumjpn %></td>
       <td class="korean"><%= discussion.sumkor %></td>
       <td><% if user_signed_in? && current_user.id == discussion.user_id %>
        <%= link_to '削除', "/discussion/#{discussion.id}", method: :delete %>
       <% end %>
       </td>
       <td>
       <% if user_signed_in? && current_user.id == discussion.user_id %>
       <%= link_to '編集', "/discussion/#{discussion.id}/edit", method: :get %>
       <% end %>
       </td>
     </tr>
    <% end %>
 </table>

</div>